{% extends 'index.html' %}
{% block title %} About{% endblock title %} 
{% block body %}
<div style="display: flex;">
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: auto;margin-right: auto;" controls></div>
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: auto;margin-right: auto;" controls></div>
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: autoauto;" controls></div>
    </div>
    
    <div style="display: flex;">
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: auto;margin-right: auto;margin-top: 33px;" controls></div>
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: auto;margin-right: auto;margin-top: 33px;" controls></div>
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: auto;margin-top: 33px;" controls></div>
    </div>
    
    <div style="display: flex;">
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: auto;margin-right: auto;margin-top: 33px;" controls></div>
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: auto;margin-right: auto;margin-top: 33px;" controls></div>
    <div><audio src="static/audios/music.mp3" style="max-width:200px;max-height:200px;margin-left: auto;margin-top: 33px;" controls></div>
</div>
{% endblock body %}