{% extends 'index.html' %}
{% block title %} About{% endblock title %} 
{% block body %}
<div style="display: flex;">
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: auto;margin-right: auto;"></div>
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: auto;margin-right: auto;"></div>
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: autoauto;"></div>
</div>

<div style="display: flex;">
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: auto;margin-right: auto;margin-top: 33px;"></div>
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: auto;margin-right: auto;margin-top: 33px;"></div>
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: auto;margin-top: 33px;"></div>
</div>

<div style="display: flex;">
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: auto;margin-right: auto;margin-top: 33px;"></div>
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: auto;margin-right: auto;margin-top: 33px;"></div>
<div style="background-color: whitesmoke;  flex-shrink: 2;"><img src="static/images/image.jpg" alt="logo" style="max-width:200px;width: 100%;max-height:200px;height: auto; margin-left: auto;margin-top: 33px;"></div>
</div>
{% endblock body %}